@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 17 57% 88%; /* #F4D6CC */
    --foreground: 0 0% 0%;    /* #000000 */

    --card: 16 58% 83%;          /* #F1C6B6 */
    --card-foreground: 0 0% 0%; /* #000000 */

    --popover: 16 58% 83%;          /* #F1C6B6 */
    --popover-foreground: 0 0% 0%; /* #000000 */

    --primary: 128 51% 35%;         /* #2B8A39 */
    --primary-foreground: 0 0% 100%;/* #FFFFFF */

    --secondary: 16 99% 39%;         /* #C83501 */
    --secondary-foreground: 0 0% 100%;/* #FFFFFF */

    --muted: 17 30% 94%;          /* ~#F5EDE9 - Muted Background */
    --muted-foreground: 16 15% 50%; /* ~#91827D - Muted Text */

    --accent: 16 82% 41%;          /* #BF3A11 */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */

    --destructive: 356 96% 41%;      /* #CE0515 */
    --destructive-foreground: 0 0% 100%;/* #FFFFFF */

    --border: 16 30% 80%;      /* ~#E1CDC7 */
    --input: 16 30% 80%;       /* ~#E1CDC7 */
    --ring: 128 51% 35%;       /* #2B8A39 */

    --radius: 0.5rem; /* Bạn có thể giữ hoặc thay đổi giá trị này */
  }

  .dark {
    /* ... */
  }

  * {
    @apply border-border; /* Áp dụng biến --border làm màu border mặc định */
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Montserrat', sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
